body
{
	color: black;
	background-color: black;
	margin: 0px;
	padding: 0px;
}

.glcanvas
{
	/*margin-top: 20px;
	margin-left: 20px;*/
}

.shader-container
{
	border: none;
	width: 100%;
	height: 200px;
	text-align: center;
	margin-top: 20px;
}

.shader-container th
{
	height: 30px;
}

#vshader, #fshader
{
	width: 95%;
	height: 300px;
	resize: none;
}

/** HUD **/
div.loading {
	position: absolute;
	left: 50%;
	top: 0%;
	background-color: orange;
	color: black;
	padding: 0 5px 0 5px;
}

div.menu-button {
	cursor: pointer;
}

div.window {
	position: absolute;
	background-color: #AAAAAA;
	top: 0px;
	left: 0px;
}
div.window input[type=button] {
	display: block;
	margin: 0 auto;
	margin-top: 10px;
	font-size: 14pt;
}

div.window form {
	margin: 10px 0 20px 0;
	text-align: center;
	border: 1px solid black;
	padding: 4px;
}

div.window div.label {
	text-align: center;
	font: 14pt arial, sans-serif;
	padding: 4px;
}

/* always a window title  */
div.window div.label:first-child {
	text-align: center;
	color: black;
	font: 18pt arial, sans-serif;
	padding: 8px;
	border-bottom: 1px solid black;
}

div.window div.draggable {
	cursor: move;
}

div#window-solids div {
	text-align: center;
	display: block;
	margin: 0 auto;
	margin-top: 10px;
}
div#window-solids input[type=button] {
	display: inline-block;
}

div#window-solids input[type=button]#solid-deselection {
	display: block;
}

/* Regarding the signal lamp */
.signal {
	background-color: #5F5;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	margin: 10px auto;
	position: relative;
}

.problem {
	background-color: #F55;
}

.signal div:first-child {
	background-color: white;
	border-radius: 50%;
	width: 12px;
	height: 7px;
	position: absolute;
	left: 4px;
	right: 4px;
	top: 1px;
	opacity: 0.5;
}

.signal div:last-child {
	background-color: black;
	border-radius: 50%;
	width: 16px;
	height: 7px;
	position: absolute;
	left: 2px;
	right: 2px;
	bottom: 0px;
	opacity: 0.3;
}